<footer class="footer">
	<section class="center-align">
		<p>
			All photos are licensed under Creative Commons
			<a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a>
		</p>
		<p>
			Powered by
			<a href="http://ghost.org" target="_blank">Ghost</a>
			and
			<a href="http://materializecss.com/" target="_blank">Materialize</a>
			<br>
			This Ghost theme is available on
			<a href="https://github.com/mohoff/Crozon" target="_blank">GitHub</a>
		</p>
	</section>
</footer>
