{{!-- Contains the header layout with a headline and subheadline --}}
<header class="header">
	<div class="row container">
		<div class="center-align">
			<p>
				<span class="flow-text">{{@blog.title}}</span><br>
				<br>
				by Moritz Hoffmann
			</p>
		</div>
	</div>
</header>
