<header class="header">
	<div class="row container">
		<div class="center-align">
			<p>
				<span class="flow-text">A blog for photos.</span><br>
				<br>
				by Moritz Hoffmann
			</p>
		</div>
	</div>
	<!--<a class="subscribe_uber icon-rss" target="_blank" href="{{@blog.url}}/rss/"><span class="hidethis_uber">Subscribe!</span></a>
	<div class="footertext_uber">All content copyright <a href="/">{{@blog.title}}</a> &copy; 2013 &bull; All rights reserved.</div>
	<div class="footertext_uber">Proudly published with <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a></div>

	<section class="copyright">Copyright &copy; <span itemprop="copyrightHolder">{{@blog.title}}</span>. <span rel="license">All Rights Reserved</span>.</section>
	<section class="poweredby">Published with <a class="icon-ghost" href="http://ghost.org"> Ghost</a></section>
	</section>
	<section class="bottom">
	<section class="attribution">
			<a href="http://github.com/Reedyn/Saga">Built with <i class="fa fa-heart"></i> and Free and Open-Source Software</a>.
	</section>
-->
</header>
