{{!< default}}

{{> header}}

<main role="main" class="container">
	<!--
	<div class="col s12">
		<div class="chips chips-autocomplete"><i class="material-icons">search</i></div>
	</div>
	-->
	<div class="row container">
		{{#foreach posts}}
			<article class="{{post_class}} col s12" role="article" itemscope itemtype="http://schema.org/Article">
					{{> card}}
			</article>
		{{/foreach}}
	</div>
</main>

{{#if pagination}}
	<div>{{{pagination}}}</div>
{{/if}}

{{> footer}}
