{{!< default}}

<main role="main" class="row container">
	{{#foreach posts}}
		<article class="{{post_class}} col s12" role="article" itemscope itemtype="http://schema.org/Article">
				{{> card}}
		</article>
	{{/foreach}}
</main>

{{#if pagination}}
	<div>{{{pagination}}}</div>
{{/if}}

{{> footer}}
