{{!< default}}

{{> header}}

<main class="container">
	<div class="row container">
		{{#foreach posts}}
			<article class="{{post_class}} col s12" itemscope itemtype="http://schema.org/Article">
					{{> card}}
			</article>
		{{else}}
			<p class="no-posts">
				no posts yet.
			</p>
		{{/foreach}}
	</div>
</main>

{{#if pagination}}{{#if posts}}
	<div class="container">{{{pagination}}}</div>
{{/if}}{{/if}}

{{> footer}}
