{{!< default}}

<main role="main">
	Results for TAG: {{tag.name}}
	tag-description: {{tag.description}}
	
	{{#foreach posts}}
		<article class="{{post_class}}" role="article" itemscope itemtype="http://schema.org/Article">
			{{> card}}
		</article>
	{{/foreach}}


	{{#if pagination}}
		<div>{{{pagination}}}</div>
	{{/if}}
</main>
