/* This file contains mostly overrides for the materialize css framework */

.card-content {
	padding-left: 16px !important;
	padding-bottom: 6px !important;
	padding-right: 6px !important;
	padding-top: 16px !important;
}

.card-info {
	padding-bottom: 12px;
}

.card-meta {
	margin-bottom: 0px !important;
}

a {
	color: inherit !important;
}

h1 {
	font-size: inherit !important;
	line-height: 100% !important;
	margin: inherit !important;
	font-weight: inherit !important;
}

.date {
	line-height: 32px;
	padding-bottom: 8px !important;
	font-style: italic;
	color: rgb(180, 180, 180);
}

nav {
	-webkit-box-shadow: inherit !important;
	box-shadow: inherit !important;
}

.footer {
	margin-top: 5rem;
	padding: 50px 0px;
	background-color: #eee;
}

/* alternative chip design */
.chip {
	display: inline-block;
	height: 26px;
	font-size: 14px;
	font-weight: 300;
	color: rgba(0,0,0,0.6);
	line-height: 26px;
	padding: 0 10px;
	border-radius: 2px;
	background-color: #efefef;
	margin-bottom: 5px;
	margin-right: 5px;
}
