/* This file contains mostly overrides for the materialize css framework */

.header {
	margin: 70px auto;
}

main > div {
	margin: 0 auto !important;
}

article {
	margin: 20px auto;
}

img, video {
	max-width:100%;
	height:auto;
}

.card-content {
	padding-left: 16px !important;
	padding-bottom: 6px !important;
	padding-right: 16px !important;
	padding-top: 16px !important;
}

.card-info {
	padding-bottom: 12px;
}

.card-meta {
	margin-bottom: 0px !important;
}

a {
	color: inherit !important;
}

h1 {
	font-size: inherit !important;
	line-height: 100% !important;
	margin: inherit !important;
	font-weight: inherit !important;
}

h2 {
	margin: 5px 0px 0px 0px !important;
}

.date {
	line-height: 32px;
	padding-bottom: 8px !important;
	font-style: italic;
	color: rgb(0, 0, 0, 0.4);
}

nav {
	-webkit-box-shadow: inherit !important;
	box-shadow: inherit !important;
}

.footer {
	margin-top: 80px;
	padding: 50px 0px;
}

.footer a {
	text-decoration: underline;
}

.pagination {
	margin: 0 auto;
}

.pagination ul {
	display: inline-block;
}

.pagination li {
	height: 56px;
	line-height: 56px;
	margin: 0 3px;
	display: inline !important;
}

nav ul a:hover {
    background-color: inherit !important;
}

.disabled {
	cursor: default;
	color: #999;
}

.no-posts {
	text-align: center;
	color: rgb(180, 180, 180);
	margin: 100px auto;
}

/* alternative chip design */
.chip {
	display: inline-block;
	height: 26px;
	font-size: 14px;
	font-weight: 300;
	color: rgba(0,0,0,0.6);
	line-height: 26px;
	padding: 0 10px;
	border-radius: 2px;
	margin-bottom: 5px;
	margin-right: 5px;
}
